html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #303030;
  color: #fff;
}

.profit-positive {
  color: green;
}

.profit-negative {
  color: red;
}
